.inpt {
    border-color: rebeccapurple; 
    border-width: thick;
    border-style: dashed;
}

.lbl {
    border-width: thick;
    border-style: dashed;
    color: red;
}

.labelAndInput { 
    padding-top:20px;
}